:root {
  --bg-main: hsl(0, 0%, 100%);
  --bg-hero: hsl(232, 58%, 55%);
  --bg-header: hsl(232, 58%, 55%);
  --menu-shadow: hsla(232, 58%, 35%, 60%);
  --menu-overlay: hsla(233, 14%, 25%, 40%);
  --link-gradient1: hsl(180, 100%, 42%);
  --link-gradient2: hsl(50, 99%, 53%);
  --bg-fullwidth: hsl(320, 85%, 41%);
  --text-accent: hsl(320, 85%, 41%);
  --text-dark: hsl(233, 14%, 25%);
  --text-light: hsl(0, 0%, 100%);
  --text-link: hsl(320, 85%, 41%);
  --btn-primary-bg: hsl(180, 100%, 42%);
  --btn-primary-bg-hover: hsl(180, 100%, 38%);
  --btn-primary-white-bg: hsl(0, 0%, 100%);
  --btn-primary-white-bg-hover: hsl(0, 0%, 90%);
  --btn-primary-text: hsl(233, 14%, 25%);
  --btn-secondary-bg: transparent;
  --btn-secondary-bg-hover: hsl(0, 0%, 100%);
  --btn-secondary-border: hsl(0, 0%, 100%);
  --btn-secondary-text: hsl(0, 0%, 100%);
  --btn-secondary-text-hover: var(--bg-hero);
  --blog-gradient1: hsl(245, 75%, 39%);
  --blog-gradient2: hsl(320, 85%, 41%);
  --blog-shadow: hsla(233, 14%, 25%, 40%);
  --gradient1: hsl(233, 14%, 25%);
  --gradient2: hsl(232, 58%, 55%);
  --gradient3: hsl(180, 100%, 42%);
}