@use '../util/' as u;

.hero {
  background-color: var(--bg-hero);

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
    align-items: center;
    padding-block: u.rem(30) u.rem(60);
    gap: 40px;

    @include u.breakpoint(large) {
      padding-block: u.rem(40) u.rem(80);
      grid-template-columns: 6fr 5fr;
      gap: 10%;
    }
  }

  &__image {
    width: 61%;
    max-width: u.rem(483);

    @include u.breakpoint(large) {
      order: 2;
      width: 100%;
    }

  }

  &__content {
    @include u.breakpoint(large) {}

    color: var(--text-light);
  }

  &__button:first-of-type {
    margin-inline-end: u.rem(20);
  }

}