@use '../util/' as u;

%widget {}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: u.rem(40);
  // max-width: 1000px;
  width: min(100% - u.rem(40), u.rem(1000));
  margin-inline: auto;

  @include u.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: u.rem(40);
  }


  &__main {
    background-color: hsl(240, 76%, 40%);
  }

  &__sidebar {

    // Only for mobile
    @include u.breakpoint-down(medium) {
      text-align: center;
    }
  }

  &__widget {
    padding: u.rem(16);

    &--green {
      @extend .grid__widget;
      background-color: hsl(112, 81%, 35%);
    }

    &--yellow {
      @extend .grid__widget;
      background-color: hsl(60, 100%, 41%);
    }
  }
}